img {
    display: block;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 24px;
    justify-content: center;
}


.gallery-item {
    width: 360px;
    height: 200px;
}


.gallery-image {
    width: 100%;
    height: 100%;
}

.gallery-item:hover {
    width: 376px;
    height: 208px;
}